    #map {
        margin-top: 150px; 
        position:absolute; 
        top:0; bottom:0px; 
        width:100%;
    }
    #search {
        font-size: 18px;
    }
    .topcorner{
        position:absolute;
        top:0;
        right:0;
    }
    .topcorner:hover {
    cursor: pointer;
    }

    #album-img {
        height: 150px;
        width: 150px;
        border:none;
    }
    #song-info {
        position: absolute;
        top: 50px;
        left: 800px;
    }
    .border-style{
        border: 40px;
    }
    .cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
    }
    .cover:hover {
        cursor: pointer;
    }
    .cover.playing {
        border: 5px solid #e45343;
    }
    #playlist-scrollbox{
        height:100px;
        width: 300px;
        border: 1px;
        overflow:auto;
        position: absolute;
        top: 50px;
        left: 500px;
    }
